<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pubber">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="Pubber"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="com.example.pubber.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pubber.PubMoreInfo"
            android:parentActivityName="com.example.pubber.MainActivity">
        </activity>
        <activity android:name="com.example.pubber.Map" />
        <activity android:name="com.example.pubber.PlannedPubTour" />
        <activity android:name="com.example.pubber.RandomPubTour" />
    </application>

</manifest>